*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.class
*.lock
*.pyc
*.jar
*.log
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
android/.gradle/
android/app/build/
android/build/
android/local.properties
# 签名密钥（绝对不要提交）
android/key.properties
ios/Pods/
ios/.symlinks/
